<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h3>Lista de marcas</h3>
            <button type="button" class="btn btn-secondary" mdbRipple (click)="new()">Novo</button>
          </div>

          <table border="1" class="table table-striped">
            <thead>
              <tr>
                <td>#</td>
                <td>Nome</td>
                <td>Marca</td>
              </tr>
            </thead>
            <tbody>
              @for (marca of lista; track $index) {
                <tr>
                  <td>{{marca.id}}</td>
                  <td>{{marca.nome}}</td>
                  <td class="btn-actions">
                    @if(hiddenButton) {
                      <button type="button" class="btn btn-secondary" mdbRipple (click)="select(marca)">Selecionar</button>
                    } @else {
                      <button type="button" class="btn btn-secondary" mdbRipple (click)="edit(marca)">Editar</button>
                      <button type="button" class="btn btn-danger btn-delete" mdbRipple (click)="deleteById(marca)">Deletar</button>
                    }
                  </td>
                </tr>
              }
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalBuscarMarca>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Cadastrar nova marca</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
  </div>
  <div class="modal-body">
    <app-marcasdetails [marca]="marcaEdit" (return)="returnMarca($event)"></app-marcasdetails>
  </div>
</ng-template>
